nav ul{
	padding:0px 0px;
	list-style:none;
	position:relative;
	display:inline-table;	
}
body{
	background-color:#C0C0C0;
	padding-top: 80px;
	padding-left:400px;
}
nav ul:after{
	content: "";
	clear:both;
	display:block;
}

nav ul li {
	background:#ccc;
	display:block;
	float:left;	
}

nav ul li a{
	display:block;
	padding:15px 20px;
	text-decoration:none;
}

nav ul li:hover{
	background:#48D1CC;
}

nav ul li:hover>ul{
	display:block;
}

nav ul li:hover a{
	color:#5F9EA0;
}

nav ul ul{
	display:block;
	padding:15px 20px;
	top:100%;
	color:#5F9EA0;
	
}

.child{
	border-bottom-left-radius:50px;
	border-top-left-radius:50px;
	border-right:1px solid #000;
}

.child1{
	border-right:1px solid #000;
}

.child2{
	border-bottom-right-radius:50px;
	border-top-right-radius:50px;
}	
 
.sub{
	display:none;
	padding:15px 20px;
	text-decoration:none;
}
